.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.beforeFooterBox {
  animation-duration: 15000s;
  animation-iteration-count: infinite;
  animation-name: SCROLL-BG;
  animation-timing-function: linear;
  background: url('./assets/tenbabies.jpg') 0px 0px / cover repeat rgb(255, 255, 255);
  height: 600px;
}

@-webkit-keyframes SCROLL-BG {
  0% {
    background-position-x: 0px;
  }

  100% {
    background-position-x: -1e6px;
  }
}

@keyframes SCROLL-BG {
  0% {
    background-position-x: 0px;
  }

  100% {
    background-position-x: -1e6px;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}